<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link {{stateSalesVolume}}" routerLink = '/sales'>
            <span class="material-icons-sharp">insights</span>
             <h4>Sales Volume</h4>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{stateLatestOrders}}" routerLink = '/orders'>
            <span class="material-icons-sharp">list_alt</span>
            Monitor Orders
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{stateServerControl}}" routerLink = '/servers' >
            <span class="material-icons-sharp">airplay</span>
            Server Control
        </a>
    </li>
</ul>
